@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  height: 100%;
  touch-action: none; /* Evita rolagem acidental */
  -webkit-overflow-scrolling: touch;
}

/* Corrige a altura no Safari */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    min-height: -webkit-fill-available;
  }
}
