@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
/* Disable scroll on the body */
body {
    overflow: hidden;
  }
  